//This file is included from the webvw.rc so all paths to files in this file 
// should be relative to webvw directory instead of this directory
#include "resource.h"
#include "windows.h"


STRINGTABLE
{
    //304, "See the disk drives and other hardware connected to your computer."
    //305, "Gives access to, and information about, folders and files on other computers."
    //306, "See the computers and devices that are on your network."
    //307, "Customize the appearance and functionality of your computer, add or remove programs, and set up network connections and user accounts."
    308, "Opens the Contacts folder, where you can manage your contacts."
    312, "Play and manage games on your computer."
    316, "Choose default programs for web browsing, e-mail, playing music, and other activities."
    317, "Opens the %1!s! folder, where you can find folders for Documents, Pictures, Music, and other files that belong to you."
    318, "See the available wireless networks, dial-up, and VPN connections that you can connect to."
    319, "See installed printers and add new ones."
}

STRINGTABLE
BEGIN
    IDS_STARTPANE_INFOTIP_SEARCH    "Opens a window where you can pick search options and work with search results."
    IDS_STARTPANE_INFOTIP_HELP      "Find Help topics, tutorials, troubleshooting, and other support services."
    IDS_STARTPANE_INFOTIP_WINSECURITY ""
    IDS_STARTPANE_INFOTIP_FILERUN   "Opens a program, folder, document, or Web site."
    IDS_STARTPANE_INFOTIP_CLIENTINET "Opens your Internet browser."
    IDS_STARTPANE_INFOTIP_CLIENTMAIL "Opens your e-mail program so you can send or read a message."

    IDS_STARTPANE_TITLE_SEARCH    "Search"
    IDS_STARTPANE_TITLE_HELP      "Help and Support"
    IDS_STARTPANE_TITLE_WINSECURITY "Windows Security"
    IDS_STARTPANE_TITLE_FILERUN   "Run..."
    IDS_STARTPANE_TITLE_CLIENTINET "Internet"
    IDS_STARTPANE_TITLE_CLIENTMAIL "E-mail"
	IDS_STARTPANE_TITLE_SPLITTER   "More"
    7030                           "Removes your laptop or notebook computer from a docking station."
    7031                           "Close programs and log off."
    7032                           "Provides options for turning off or restarting your computer, or for activating Stand By or Hibernate modes."
    7033                           "Disconnects your session.  You can reconnect to the session when you log on again."
    7034                           "Lock this computer."
    7035                           " Switch users without closing programs."
END

STRINGTABLE
{
    7050, "Search failed to initialize."
}

STRINGTABLE
BEGIN
    IDS_SFTHOST_OFFERREMOVEITEM "The item you selected is unavailable.  \
It might have been moved, renamed, or removed.  \
Do you want to remove it from the list?"

    IDS_SFTHOST_REMOVEFROMLIST  "Remove &from This List"
    IDS_SFTHOST_SHOWONDESKTOP   "&Show on Desktop"

    //IDS_STARTPANE_MOREPROGRAMS  "All &Programs"
    //IDS_STARTPANE_MOREPROGRAMS_TIP "Displays a list of programs on your computer."
    8226 "All Programs"
    8227 "Opens a list of your programs."
    IDS_STARTPANE_MOREPROGRAMS_BALLOONTITLE "New programs installed."
    IDS_STARTPANE_SPECIALITEMSTIP "If you want to \
put the Internet or E-mail icons \
back on your Start menu, right-click the Start button, click Properties, \
click Customize, and select the appropriate check box."

    IDS_STARTPANE_CLIPPED_TITLE     "Some items cannot be shown"
    IDS_STARTPANE_CLIPPED_TEXT      "There is not enough room to show all the items you have added \
to the Start menu.  To display them, please choose smaller menu icons, \
choose a smaller number of items, or unpin some items."

    IDS_LOGOFF_TEXT_FRIENDLY    "|Undock Comput&er|&Log Off|T&urn Off Computer|D&isconnect||"
    IDS_LOGOFF_TEXT_DOMAIN      "|Undock Comput&er|&Log Off|Sh&ut Down|D&isconnect||"

    IDS_LOGOFF_TIP_EJECT       "Removes your laptop or notebook computer from a docking station."
    IDS_LOGOFF_TIP_LOGOFF      "Provides options for closing your programs and logging off, or for leaving your programs running and switching to another user."
    IDS_LOGOFF_TIP_SHUTDOWN    "Provides options for turning off or restarting your computer, or for activating Stand By or Hibernate modes."
    IDS_LOGOFF_TIP_DISCONNECT  "Disconnects your session.  You can reconnect to the session when you log on again."
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_CUSTOMTIP_MYDOCS    "Store letters, reports, notes, and other kinds of documents."
    IDS_CUSTOMTIP_RECENT    "Displays recently opened documents and folders."
    IDS_CUSTOMTIP_MYMUSIC   "Store and play music and other audio files."
    IDS_CUSTOMTIP_MYPICS    "Store pictures and other graphics files."
    IDS_CUSTOMTIP_MYNETPLACES "Gives access to, and information about, folders and files on other computers."
    IDS_CUSTOMTIP_MYCOMP    "See the disk drives and other hardware connected to your computer."
    IDS_CUSTOMTIP_CONNECTTO "See the computers and devices that are on your network."
    IDS_CUSTOMTIP_CTRLPANEL "Customize the appearance and functionality of your computer, add or remove programs, and set up network connections and user accounts."

    IDS_STARTPANE_CONNECTTO         "Network"
    IDS_STARTPANE_CONTROLPANEL      "Control Panel"
    IDS_STARTPANE_FAVORITES         "Favorites"
    IDS_STARTPANE_RECENT            "Recent Items"
END

STRINGTABLE
BEGIN
    IDS_STARTPANE_TOTALHEIGHT       "410"
    IDS_STARTPANE_TOTALWIDTH        "400"
    IDS_STARTPANE_USERHEIGHT        "75"
    IDS_STARTPANE_MOREPROGHEIGHT    "40"
    IDS_STARTPANE_LOGOFFHEIGHT      "40"
END

STRINGTABLE
BEGIN
    8241 "Back"
    8242 "See all results"
    8243 "Search Everywhere"
    8244 "Search the Internet"
    8245 "Return to previous view."
    8246 "Start Search"
END

MENU_CONNECTTO MENUEX PRELOAD DISCARDABLE
BEGIN
                MENUITEM "", -1,               MFT_SEPARATOR
                MENUITEM "&Show all connections", IDM_OPENCONFOLDER
END

6001 MENUEX
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP "", 65535, MFT_STRING, MFS_ENABLED, 0
  {
    MENUITEM "&Undock", 410, MFT_STRING, MFS_ENABLED
    MENUITEM "S&witch User", 5000, MFT_STRING, MFS_ENABLED
    MENUITEM "&Log Off", 402, MFT_STRING, MFS_ENABLED
    MENUITEM "L&ock", 517, MFT_STRING, MFS_ENABLED
  }
}

IDB_LOGOFF_NORMAL               BITMAP      "resources\\LogoffButtons.bmp"
// IDB_LOGOFF_HOT                  BITMAP      "resources\\LogoffButtonsHot.bmp"
IDB_LOGOFF_PRESSED              BITMAP      "resources\\LogoffButtonsPressed.bmp"

IDB_LOGOFF_EXPANDER             BITMAP      "resources\\LogoffButtonsExpander.bmp"

IDB_LOGOFF_LARGE_NORMAL         BITMAP      "resources\\LogoffButtonsLarge.bmp"
IDB_LOGOFF_LARGE_PRESSED        BITMAP      "resources\\LogoffButtonsLargePressed.bmp"
IDB_LOGOFF_LARGE_EXPANDER       BITMAP      "resources\\LogoffButtonsLargeExpander.bmp"

IDB_LOGOFF_AERO_NORMAL          BITMAP      "resources\\LogoffButtonsAeroNormal.bmp"
IDB_LOGOFF_AERO_PRESSED         BITMAP      "resources\\LogoffButtonsAeroPressed.bmp"
IDB_LOGOFF_AERO_HOT             BITMAP      "resources\\LogoffButtonsAeroHot.bmp"

IDB_LOGOFF_LARGE_AERO_NORMAL    BITMAP      "resources\\LogoffButtonsLargeAeroNormal.bmp"
IDB_LOGOFF_LARGE_AERO_PRESSED   BITMAP      "resources\\LogoffButtonsLargeAeroPressed.bmp"
IDB_LOGOFF_LARGE_AERO_HOT       BITMAP      "resources\\LogoffButtonsLargeAeroHot.bmp"
